.people {
  position: absolute;
  top: 0;
  right: 0;
  bottom: var(--margin-lg);
  width: 55%;
  overflow-x: hidden;
  /* overflow-y: scroll; */
  scrollbar-width: none;
  cursor: pointer;
}

.people::-webkit-scrollbar {
  /* display: none; */
  width: calc(var(--border-size-sm) * 3);
}

.people::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    var(--secondary-bgcolor) 0%,
    var(--secondary-bgcolor) 66%,
    var(--primary-color) 66%,
    var(--primary-color) 100%
  );
}

.people::-webkit-scrollbar-track-piece {
  background-color: var(--secondary-bgcolor);
  /* background-color: red; */
}

.scroll {
  content: "";
  position: absolute;
  top: -4px;
  right: 0;
  width: 55%;
  height: 25px;
  z-index: 1;
  background: linear-gradient(var(--secondary-bgcolor) 60%, transparent);
}

.scrollBottom {
  top: auto;
  bottom: calc(var(--margin-lg) - 4px);
  z-index: 1;
  background: linear-gradient(transparent, var(--secondary-bgcolor) 60%);
}
