.filmmakers {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: var(--margin-md);
}

.filmmakers > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--margin-md);
}

.filmmakers > div > p {
  font-size: calc(var(--font-size-xl) * 1.4);
  color: var(--header-color);
  letter-spacing: 1px;
}

.filmmakers > div > ul {
  display: grid;
  /* height: 100%; */
  grid-template-columns: repeat(auto-fill, 120px);
  gap: var(--margin-md);
  list-style: none;
}
