.person {
  margin-bottom: var(--margin-sm);
  padding: calc(var(--margin-sm) / 2) var(--margin-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: var(--third-bgcolor);
  border-left: var(--border-size) solid var(--third-bgcolor);
  transition: all 0.3s ease;
}

.person:hover {
  transform: translateX(var(--margin-sm));
}

.person:last-child {
  margin-bottom: 0;
}

.active {
  border-left: var(--border-size) solid var(--primary-color);
}

.name {
  color: var(--primary-color);
  font-weight: 500;
  transition: all 0.3s ease;
}

.key {
  font-size: var(--font-size-sm);
  font-weight: 300;
}
