.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background-color: var(--header-bgcolor-opacity2);
}

.modal {
  display: inline-flex;
  max-width: 90%;
  width: 100%;
  /* justify-content: center; */
  /* align-items: center; */
  /* width: 80vmax; */
  /* position: absolute; */
  /* top: 40px; */
  /* left: 40px; */
  /* right: 40px; */
  /* bottom: 40px; */
  /* background-color: papayawhip; */
}

.modal img {
  display: flex;
  width: 100%;
  object-fit: contain;
  height: 300%;
  width: 300%;
  max-height: 100vh;
  max-width: 100vh;
  border: 9px solid var(--secondary-bgcolor);
}
